@property --blade{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 0;
}

:root{
    --b: #7700ff;
}

.box{
    position: relative;
    min-height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from var(--blade), var(--b) 0%, var(--b) 10%, transparent 10%, transparent 50% );
    animation: roda 6s linear infinite;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.39);
}

.box::before{
    content: '';
    inset: 0;
    position: absolute;
    background: repeating-conic-gradient(from var(--blade), var(--b) 0%, var(--b) 10%, transparent 10%, transparent 50% );
    animation: roda 6s linear infinite;
    animation-delay: 1.5s;
}

.box::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}

.box form{
    z-index: 1;
}

.inputbox{
    height: 44px;
    width: 250px;
    background: #292929;
    box-shadow: 0px 0px 4px #0000006b;
    position: relative;
    margin-bottom: 40px;
}

.inputbox::before{
    content: '';
    inset: 0;
    position: absolute;
    background: repeating-conic-gradient(from var(--blade), var(--b) 0%, var(--b) 10%, transparent 10%, transparent 50% );
    animation: roda 6s linear infinite;
}

.inputbox::after{
    content: '';
    inset: 2px;
    position: absolute;
    background: #292929;
}

.inputbox input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    outline: none;
}

.inputbox input::placeholder,
.inputbox input{
    color: rgba(255, 255, 255, 0.507);
    padding-left: 10px;
}

.box #titulo h2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}

.box #titulo{
    z-index: 10;
}

.inputbox:last-child::before{
    background: repeating-conic-gradient(from var(--blade), rgb(51, 88, 255) 0%, rgb(255, 0, 191) 10%, transparent 10%, transparent 50% );
}

#cadas{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    padding: 0;
}

#cadas:hover{
    background-color: #7700ff79;
}

@keyframes roda{
    0%{
        --blade:0deg
    }

    100%{
        --blade:360deg
    }

}