*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
}

header{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header #nav1{
    height: 28.5%;
    width: 100%;
    background-color: #3cc88f;
    overflow: hidden;
}

header #esquerda{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

header #nav1 nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 80px !important;
}

header #nav1 nav > div{
    width: 50%;
    height: 100%;
}

header #esquerda div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: white;
    filter: none;
}


header #esquerda .icon img{
    filter: invert();
}


#direita .redessociais{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;

}

#direita .redessociais .img{
    margin-left: 15px;
}

#direita .redessociais .img img{
    filter: invert();
    transition: 0.2s;
}

#direita .redessociais .img img:hover{
    filter: none;
}


