*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

header{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header #nav1{
    height: 28.5%;
    width: 100%;
    background-color: #3cc88f;
    overflow: hidden;
}

header #esquerda{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

header #nav1 nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 80px !important;
}

header #nav1 nav > div{
    width: 50%;
    height: 100%;
}

header #esquerda div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: white;
    filter: none;
}


header #esquerda .icon img{
    filter: invert();
}


#direita .redessociais{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;

}

#direita .redessociais .img{
    margin-left: 15px;
}

#direita .redessociais .img img{
    filter: invert();
    transition: 0.2s;
}

#direita .redessociais .img img:hover{
    filter: none;
}

#nav2{
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    padding-right: 83px;
    padding-left: 83px;
}

#nav2 .logo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav2 .caixabott{
    height: 100%;   
    background-color: white !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav2 li a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.donate-btn-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 150px;
}

.donate-btn-header .dtbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #3cc88f;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 10px;
}

.donate-btn-header .dtbtn:hover{
    background-color: #005B27;
}
