*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;  
}

nav{
    height: 100%;
    width: 100%;
}

#verde{
    height:29%;
    width: 100%;
    background-color:#3cc88f;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#verde #esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#verde #direita{
    width: 50%;
    height: 100%;
}

header #verde #esquerda > div{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.icons{
 margin-right: 5px;
}
.icons img{
    filter: invert();
}

.txt{
    color: white;
}

#direita{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 80px;
}

#direita > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#direita > div .icons2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.icons2 img{
    filter: invert();
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.icons2 img:hover{
    filter: none;
}

#nav2{
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    padding-right: 83px;
    padding-left: 83px;
    transition: 0.5s;
}

.phael{
    filter: invert();
    position: fixed;
    z-index: 100;
}

#nav2 .logo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav2 .caixabott{
    height: 100%;   
    background-color: white !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav2 li a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.donate-btn-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 150px;
}

.donate-btn-header .dtbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #3cc88f;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 10px;
}

.donate-btn-header .dtbtn:hover{
    background-color: #005B27;
}

#sec2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#baixo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}