*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;  
}

nav{
    height: 100%;
    width: 100%;
}

#verde{
    height:29%;
    width: 100%;
    background-color:#3cc88f;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#verde #esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#verde #direita{
    width: 50%;
    height: 100%;
}

header #verde #esquerda > div{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

.icons{
 margin-right: 5px;
}
.icons img{
    filter: invert();
}

.txt{
    color: white;
}

#direita{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0 80px;
}

#direita > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#direita > div .icons2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.icons2 img{
    filter: invert();
    margin-left: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.icons2 img:hover{
    filter: none;
}