body{
 height: 100vh;
 width: 100%;
background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

#metade1{
    height: 50%;
    width: 50%;
}

#logox{
    height: 450px;
    width: 450px;
    margin-left: 250px;
}

#metade2{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:left;
    margin-left: 125px
}

#text1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    font-size: 25px;
}

#age{
    margin-left: 20px;
}

#text2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    font-size: 20px;
}

#ihm{
    margin-top: -10px;
    margin-left: 20px;
}

#googlediv{
    margin-top: 50px;
}

#google{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    font-family:arial, sans-serif;
    font-size: 15px;
    margin-left: 20px;
    border-style: none;
}

#applediv{
    margin-top: 10px;
}

#apple{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border-style: none;
    margin-left: 20px;
}

#account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(27 146 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 20px;
    border-style: none;
    
}

#criarumaconta{
    font-size: 15px;
    color: white;
}

#googleimg{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#appleimg{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#linha{
    height: 35px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#line1{
    height: 1px;
    width: 160px;
    background-color:rgb(47 51 54);
    margin-left: 40px;

}

#textor{
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

#line2{
    height: 1px;
    width: 160px;
    background-color: rgb(47 51 54);  
}

#lmiudas{
    margin-top: 7px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    font-size: 10.5px;
}

a{
    text-decoration: none;
    color: rgb(27 146 226);
}

#textobaixo{
    margin-top: 30px;
    background-color: none  ;
    height: 300px;
    width: 300px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;        
}

#textaccount{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#entrar{
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color:transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color:  rgb(27 146 226);
    border-style: solid;
    border-color: rgb(49 59 66);;
}
